<!DOCTYPE html>
<head>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/creative.css') }}" />
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/magnific-popup.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- JahQuery -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

    <!-- BOOTSTRAAPPP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/usaLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>


    <!-- Chart code -->
    <script src="{{ url_for('static', filename='js/usachart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bar_chart.js') }}"></script>

</head>
<body>

  <!-- Top nav bar. -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Women Who Code</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#wealth_map">Wealth Heatmap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#bar_chart">Bar Chart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div style="padding-top: 130px;" class="container">
    <div class="row">
      <div class="col-lg" style="text-align: center;">
        <input type="range" min="2012" max="2016" value="2016" class="slider" id="yearSlider">
        <span>2016</span>
      </div>
    </div>
  </div>

  <section style="padding: 0px;" id="wealth_map">
    <div class="container">
      <div id="chartdiv">

      </div>
    </div>
  </section>

  <section style="padding: 0px;" id="bar_chart">
    <div id="bardiv">
      <canvas id="canvas" width="1896" height="948" class="chartjs-render-monitor" style="display: block; height: 474px; width: 948px;"></canvas>
    </div>
  </section>

  <!-- Pretty Template -->
  <script src="{{ url_for('static', filename='js/jquery.easing.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scrollreveal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/creative.js') }}"></script>
  <script src="{{ url_for('static', filename='js/year.js') }}"></script>


</body>
